.buttonclassmain:hover {
    box-shadow:0rem 0rem  1.25rem #39FF14;
}

.buttonclassmain {
    display: block;
    background-color: #39FF14;
    border: #00ffff solid 0.5rem;
    border-radius: 1.875rem;
    width: 18.75rem;
    height: 3.125rem;
    color: #000000;
    margin: auto;
    font-size: 1.667rem;
    font-family: 'Lucida Sans';
    font-weight: bold;
}

.inputclassmain:hover {
    box-shadow:0rem 0rem  1.25rem #39FF14;
}

.inutclassmain {
    display: block;
    background-color: #39FF14;
    border: #00ffff solid 0.5rem;
    border-radius: 1.875rem;
    width: 18.75rem;
    height: 3.125rem;
    color: #000000;
    margin: auto;
    font-size: 1.667rem;
    font-family: 'Lucida Sans';
    font-weight: bold;
}

.styleingclass1 {
    margin-left: 1.563rem;
    background-color: black;
    border: #ffffff solid 0.188rem;
    width: 18.75rem;
    height: 1.875rem;
    color: #39FF14;
}

.styleingclass2 {
    color: #39FF14;
    margin-left: 0.938rem;
}

.styleingclass3 {
    color: #39FF14;
    margin-left: 0.938rem;
    text-align: center;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column
}

.styleingclass4 {
    align-self: center;
    justify-self: center;
    outline: #00ffff solid 0.625rem;
    width: 25rem;
    border-radius: 3.125rem;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.style5 {
    align-self: center;
    font-size: 3.333rem;
    color: #00ffff;
}

.style6 {
    align-self: center;
    justify-self: center;
    outline: #00ffff solid 0.625rem;
    width: 25rem;
    border-radius: 3.125rem;
    background-color: black;
    display: flex;
    flex-direction: column;
}